
// Input parameters

params {
    dataset_folder        = "/Users/mb/visium/Visium_HD_Human_Lymph_Node_FFPE"
    results_folder        = "results"
    bin_size              = "008um"    // Default bin size for analysis

    // FILTER_ADATA parameters
    min_counts_per_gene   = 10      // Minimum counts required for a gene to pass filtering
    min_cells_per_gene    = 10      // Minimum cells required for a gene to pass filtering
    min_counts_per_cell   = 10     // Minimum counts required for a cell to pass filtering
    min_genes_per_cell    = 250     // Minimum genes required for a cell to pass filtering

    // DO_SVD parameters
    n_variable_genes      = 8000    // Number of highly variable genes to use
    n_components          = 100     // Number of principal components to compute
    svd_method            = "randomized"  // Method for SVD computation

    // DO_KNN_UMAP_LEIDEN parameters
    umap_n_components     = 30      // Number of components for UMAP
    umap_metric           = "cosine" // Distance metric for UMAP
    n_neighbors           = 30      // Number of neighbors for UMAP
    min_dist              = 0.3     // Minimum distance for UMAP
    spread                = 1.5     // Spread parameter for UMAP
    n_epochs              = 1000     // Number of epochs for UMAP training
    leiden_resolution     = 1       // Resolution parameter for Leiden clustering
}

docker.enabled = true
